<div id="playing-tab" fxLayout="column" fxFill>
    
    <!-- TODO known starters as input recommendedTracks -->
    <track-search   [label]="trackBacklog.length === 0 ? 'Choose starter ...' : ''"
                    [enabled]="changeLastTrackEnabled()"
                    [tracks]="tracks"
                    [selectedTrack]="currentTrack"
                    (onTrackSelected)="selectCurrentTrack($event)" 
                    (onTrackCleared)="currentTrack = null">
    </track-search>

    <!-- TODO known matches as input recommendedTracks -->
    <track-search   *ngIf="currentTrack"
                    [label]="'Choose next ...'"
                    [tracks]="tracks"
                    [selectedTrack]="nextTrack"
                    [confirmationEnabled]="true"
                    (onTrackSelected)="selectNextTrack($event)" 
                    (onTrackConfirmed)="continueSet()"
                    (onTrackCleared)="nextTrack = null">
    </track-search>
    
    <div    id="transition-details-wrapper" 
            fxFlex="grow" 
            fxLayout="row" 
            style="overflow-y: scroll;">

        <transition-details *ngIf="currentTrack && nextTrack; else selectionNotice"
                            [transition]="transition" 
                            [editable]="false"
                            (onChange)="updateTransition()"
                            fxFill>
        </transition-details>

        <ng-template #selectionNotice>
            <div fxFill> Please select from and to </div>
        </ng-template> 
    </div>
</div>
