<div    id="settings-tab" 
        fxLayout="column" fxFill>
    
    <section>

        <h3> Theme </h3>

        <p> 
            <mat-radio-group>
                <mat-radio-button value="1">deeppurple-amber</mat-radio-button> &nbsp;&nbsp;
                <mat-radio-button value="2">indigo-pink</mat-radio-button> &nbsp;&nbsp;
                <mat-radio-button value="3">pink-bluegrey</mat-radio-button> &nbsp;&nbsp;
                <mat-radio-button value="4">purple-green</mat-radio-button>
            </mat-radio-group>
        </p>
    </section>

    <mat-divider></mat-divider>

    <section>

        <h3> Track File Pattern </h3>

        <p> 
            <mat-form-field appearance="standard">
       
                <mat-label> Artist or Title </mat-label>
       
                <mat-select>
       
                    <mat-option value="option"> Artist </mat-option>
                    <mat-option value="option"> Title </mat-option>
                </mat-select>
            </mat-form-field>

            &nbsp;

            <mat-form-field appearance="standard">
       
                <mat-label> Seperator </mat-label>
       
                <mat-select>
       
                    <mat-option value="option"> - </mat-option>
                    <mat-option value="option"> . </mat-option>
                </mat-select>
            </mat-form-field>

            &nbsp;

            <mat-form-field appearance="standard">
       
                <mat-label> Artist or Title </mat-label>
       
                <mat-select>
       
                    <mat-option value="option"> Artist </mat-option>
                    <mat-option value="option"> Title </mat-option>
                </mat-select>
            </mat-form-field>

            &nbsp;

            <mat-form-field appearance="standard">
       
                <mat-label> File Extensions </mat-label>
       
                <mat-select multiple>
       
                    <mat-option value="option"> .mp3 </mat-option>
                    <mat-option value="option"> .wav </mat-option>
                    <mat-option value="option"> .flac </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
    </section>

</div>
